<ion-header>

  <ion-navbar>
    <ion-title>My Followers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  

    <ion-list no-lines>


        <div *ngFor="let flw of (followers | async)?.slice().reverse()" style="margin-top:2px; background: rgba(172, 255, 47, 0); width:100%; height: 69px;">
            <button ion-item no-lines (click)="viewFollower(flw.key)" *ngIf="flw.profile | async; else load; let pro;" style="background: rgb(253, 253, 253); border-radius:5px;  padding:0; width:100%; margin:auto;  ">
              <div text-center [style.background-image]="'url(' + (pro[0].dp != null ? pro[0].dp : './assets/imgs/default-user.png') + ')'" style="margin-left:3px; background-color: rgb(235, 235, 235);  border-radius:100%; background-size: cover;  display: inline-block; width:45px; height:45px;" item-start  >
              </div>
              <ion-grid item-end style="background: rgba(194, 196, 42, 0); padding:0;">
                <ion-row nowrap style="background:rgba(255, 255, 255, 0);">
                  <ion-col col-12 style=" background:rgba(255, 255, 255, 0); padding:0;">
                  <div text-nowrap  style="width:auto; display: inline-block; font-weight: bold; ">
                    <div  style="width:100%; float: left; color:rgb(71, 71, 71); background:rgba(11, 177, 11, 0); ">
                      {{pro[0].fname + ' ' + pro[0].lname}}
                    </div>
                  </div>
                  </ion-col>
                </ion-row>
          
                <ion-row nowrap style="background:rgba(179, 27, 133, 0);  ">
                  <ion-col>
                    <div *ngIf="flw.interests | async; else wait; let inter;" style="background: rgba(196, 42, 42, 0); color:rgb(131, 131, 131);">
                      {{inter}} interests
                       </div>
                       <ng-template #wait>
                         waiting...
                       </ng-template>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </button>
            <ng-template #load> 
              <ion-item style="width:100%; padding:0; background: #f5f8fc; position: relative;">
                  <div item-start style="background:#eef1f5; color:white; margin-left: 3px; border-radius:100%; background-size: cover;  display: inline-block; width:45px; height:45px;"></div>
             <ion-grid no-padding item-end>
               <ion-row>
                 <div style="height:4px; width:100%;"></div>
               </ion-row>
              </ion-grid>
              <div class="loader"></div>
                </ion-item>
            </ng-template>
          </div>
      
        </ion-list>
       
      
          <div text-center *ngIf="!(followers | async)?.length">No buyer follows you.</div>
</ion-content>
