page-explore-filter {

    
  .options-container{
      color: #dd204f;
      font-size: 1.4rem;
      background: #ffffff;
      font-weight: lighter;
  }

  .applyFil{
position: fixed;
padding: 8px;
bottom:0;
left:0;
background: white;
width:100%;
  }

  .button-ios {
    height: 2.4em;
  }

}
