page-seller-tabs {

    
    .mytitle {
        color:rgb(212, 38, 96); letter-spacing:1px; font-weight: lighter;
        font-family: cursive;
        font-size: 14px;
    }
    
    .toolbar-md {
    min-height: unset;
    }


}
